@import './Brand.scss';

body {
  font-family: 'Open Sans', sans-serif;
}

.__react_component_tooltip {
  // There's currently no way to configure tooltip opacity https://github.com/wwayne/react-tooltip/issues/241
  // default is 0.262458
  opacity: 0.95 !important; // sass-lint:disable-line no-important
}

.market-list-controls {
  margin-bottom: 0;

  .column {
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
  }
}

.no-padding-top {
  padding-top: 0;
}

.no-padding-right {
  padding-right: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.no-padding-left {
  padding-left: 0;
}

.section {
  // the default section padding-top/bottom is 3rem; this is too much whitespace at top of page.
  &.less-padding-top {
    padding-top: 1.5rem;
  }

  &.less-padding-bottom {
    padding-bottom: 1.5rem;
  }
}
// example of sass variable in calc:
// $golden-decay: calc(.618 * #{$canonical-bulma-padding});

.logo {
  // Fixed-width on desktop; auto width on mobile where screen resizing is less of an expectation and we'd like logo to fill its column on mobile.
  @media(min-width: 769px) {
    // bulma is-mobile stops at 768px.
    width: 378px;
  }
}
$canonical-bulma-padding: 0.75rem; // columns seem to use this

.veil-announcement {
  padding: 6px 0;
  background-color: #4444ee;
  color: lighten(#4444ee, 40%);
  text-align: center;

  .is-mobile {
    display: none;
  }

  @media(max-width: 768px) {
    text-align: left;
    padding: 12px;
    .is-mobile {
      display: initial;
    }
  }

  a {
    color: lighten(#4444ee, 40%);
    border-bottom: 1px solid lighten(#4444ee, 20%);
    &:hover {
      border-bottom-color: currentColor;
    }
  }
}

.header {
  padding: $canonical-bulma-padding;
  // Move header dropdown menu left a fixed amount so that the dropdown items don't appear offscreen on mobile.
  .dropdown-menu {
    left: -117px;
  }
  @media(max-width: 768px) {
    .datum {
      padding-bottom: 0;

      &:not(:first-child) {
        padding-top: 0;
      }

      &:not(:last-child) {
        padding-bottom: 0;
      }
    }
  }
  .market-creator-signup {
    @media(max-width: 768px) {
      // bulma is-mobile stops at 768px.
      font-size: 0.618em;
    }
  }
}

.comment-link {
  text-decoration: underline $tetrad-orange;
}

.search {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  position: relative;
  width: 20rem;

  i {
    position: absolute;
    right: 10px;
    transform: translateY(+65%);
  }
}

.featured {
  font-size: 0.618em; // golden ratio
  text-transform: uppercase;
}

.sort-by-label {
  width: 5rem;
}

.sort-by-box {
  button {
    width: 10rem; // prevent category box from resizing when changing selected value, which causes page to jank
  }
}

.category-label {
  width: 5rem;
}

.category-box {
  button {
    width: 10rem; // prevent category box from resizing when changing selected value, which causes page to jank
  }
}

.liquidity-tranche-label {
  width: 8rem;
}

.liquidity-tranche-box {
  button {
    width: 6rem; // prevent liquidity tranche box from resizing when changing selected value, which causes page to jank
  }
}

.page-number {
  padding-right: $canonical-bulma-padding;
}

.reset-filters {
  $black: #000;
  padding-right: $canonical-bulma-padding;
  a {
    color: $black;
    text-decoration: underline;
    &:visited {
      color: $black;
    }
  }
}

.pagination-ellipsis {
  @media(max-width: 769px) {
    // bulma is-mobile stops at 768px.
    // margin-left: 0;
    // margin-right: 0;
    padding-left: 0;
    padding-right: 0;

  }
}
