// #tetrad for Predictions.Global's brand http://www.paletton.com/#uid=72T0u0kuuDciWKuotFQCjtAE0mZ
// tetrad is four colors, 5 shades each (darkest is 5th shade; not all colors added yet). The base tetrad colors are -3, eg. $tetrad-red-3.
$tetrad-green-3: #0ad136;
$tetrad-green-4: #00b227;
$tetrad-green-5: #008a1f;
$tetrad-blue-3: #0d9bb6;
$tetrad-blue-4: #037b91;
$tetrad-blue-5: #025f71;
$tetrad-orange: #ff830c; // this is orange-3, but named orange for backwards compatibility
$tetrad-orange-3: #ff830c;
$tetrad-red-1: #ff7668;
$tetrad-red-2: #ff4f3c;
$tetrad-red-3: #ff230c;
$tetrad-red-4: #ec1600;
$tetrad-red-5: #b71100;

.green-3 {
  color: $tetrad-green-3;
}

.green-3-bg {
  background-color: $tetrad-green-3;
}

.green-4 {
  color: $tetrad-green-4;
}

.green-5 {
  color: $tetrad-green-5;
}

.blue-3 {
  color: $tetrad-blue-3;
}

.blue-4 {
  color: $tetrad-blue-4;
}

.blue-5 {
  color: $tetrad-blue-5;
}

.orange {
  color: $tetrad-orange;
}

.orange-3 {
  color: $tetrad-orange-3;
}

.orange-3-bg {
  background-color: $tetrad-orange-3;
}

.red-2 {
  color: $tetrad-red-2;
}

.red-2-bg {
  background-color: $tetrad-red-2;
}


.red-3 {
  color: $tetrad-red-3;
}

.red-3-bg {
  background-color: $tetrad-red-3;
}

.red-4 {
  color: $tetrad-red-4;
}

.red-4-bg {
  background-color: $tetrad-red-4;
}


.red-5 {
  color: $tetrad-red-5;
}

.red-5-bg {
  background-color: $tetrad-red-5;
}
