@import './Brand.scss';

.detail {
  padding-top: 0;
}

@media(max-width: 1023px) {
  // bulma tablet stops at 1023px.
  .no-padding-bottom-tablet {
    padding-bottom: 0;
  }
}

.datum {
  &:not(.has-padding-bottom) {
    padding-bottom: 0;
  }
}
