.market {
  margin-top: 0.75rem; // cards are getting tall, reduce margin so ppl can see more on one screen; may later vary this responsively

  // The "data part" of the market card (containing prediction, $ at stake, end time, and comments) has a lot of whitespace in the middle on mobile, which causes the data to wrap lines, whereas the preferred display is to push closer to whitespace in middle and avoid making card taller by wrapping lines.
  @media(max-width: 769px) {
    // bulma is-mobile stops at 768px.
    .middle-column-left {
      padding-right: 0;
    }
    .middle-column-right {
      padding-left: 0;
    }
  }

  .badge {
    padding: 0.4rem 0.6rem;
    color: white;
    background-color: #0ad136; // this is $tetrad-green-3, TODO import variables
    border-radius: 2rem;
  }

  & > .column {
    border-left: 6px solid #0d9bb6; // this is blue-3, TODO import variables
    border-radius: 4px;
  }
}

.embed-copied {
  color: #ff830c; // $tetrad-orange TODO import variable
}
