.market {
  margin-top: 0.75rem; // cards are getting tall, reduce margin so ppl can see more on one screen; may later vary this responsively

  // The "data part" of the market card (containing prediction, $ at stake, end time, and comments) has a lot of whitespace in the middle on mobile, which causes the data to wrap lines, whereas the preferred display is to push closer to whitespace in middle and avoid making card taller by wrapping lines.
  @media(max-width: 769px) {
    // bulma is-mobile stops at 768px.
    .middle-column-left {
      padding-right: 0;
    }
    .middle-column-right {
      padding-left: 0;
    }
  }

  .badge {
    padding: 0.4rem 0.6rem;
    color: white;
    background-color: #0ad136; // this is $tetrad-green-3, TODO import variables
    border-radius: 2rem;
  }

  & > .column {
    border-left: 6px solid #0d9bb6; // this is blue-3, TODO import variables
    border-radius: 4px;
  }

  .market-controls {
    $control-padding-not-mobile: 3.6466px; // small golden ratio^4 * 25px square length of twitter icon
    $control-padding-mobile: 25px; // wider padding on mobile for fat fingers like mine

    & > .column {
      cursor: pointer;
    }

    &.not-mobile {
      .column {
        &:not(:first-child) {
          padding-top: 0;
        }

        &:not(:last-child) {
          padding-bottom: $control-padding-not-mobile;
        }
      }
    }

    &.mobile {
      margin: 0;
      align-items: flex-end;

      .column {
        &:not(:first-child) {
          padding-left: 0;
        }

        &:not(:last-child) {
          padding-right: $control-padding-mobile;
        }
      }

      .augur-logo {
        display: block; // Block elements don't have line height like inline ones
      }
    }
    // TwitterIcon (inside TwitterShareButton) uses a div where the icon will be left-aligned if there's margin to spare; this causes the icon to be horizontally centered.
    .SocialMediaShareButton {
      // sass-lint:disable-line class-name-format
      // prevent ugly outline from showing after clicking tweet button
      outline: none !important; // sass-lint:disable-line no-important

      & > div {
        margin-left: auto;
        margin-right: auto;
      }
    }

    .globe-logo {
      display: block;
      width: 25px;
    }

    .augur-logo {
      height: 25px; // same dimension as twitter logo
      width: 25px;
    }
  }
}

.embed-copied {
  color: #ff830c; // $tetrad-orange TODO import variable
}
